#usb tty devices symlinks
KERNELS=="1-1.1.2", SUBSYSTEMS=="usb", SUBSYSTEM=="tty",ATTRS{devpath}=="1.1.2", SYMLINK+="usbSerial0", GROUP="dialout", MODE="0666", RUN+="/bin/systemctl restart amya-noded.service"
KERNELS=="1-1.3", SUBSYSTEMS=="usb", SUBSYSTEM=="tty",ATTRS{devpath}=="1.3", SYMLINK+="usbSerial1", GROUP="dialout", MODE="0666", TAG+="systemd", ENV{SYSTEMD_WANTS}="amya-serial-mirror.service"
KERNELS=="1-1.1.3", SUBSYSTEMS=="usb", SUBSYSTEM=="tty",ATTRS{devpath}=="1.1.3", SYMLINK+="usbSerial2", GROUP="dialout", MODE="0666"
KERNELS=="1-1.2", SUBSYSTEMS=="usb", SUBSYSTEM=="tty",ATTRS{devpath}=="1.2", SYMLINK+="usbSerial3", GROUP="dialout", MODE="0666"

#usb video4linux devices symlinks
KERNELS=="1-1.1.2", SUBSYSTEMS=="usb", SUBSYSTEM=="video4linux",ATTRS{devpath}=="1.1.2",ATTR{index}=="0", SYMLINK+="usbVideo0", GROUP="video", MODE="0666"
KERNELS=="1-1.3", SUBSYSTEMS=="usb", SUBSYSTEM=="video4linux",ATTRS{devpath}=="1.3",ATTR{index}=="0", SYMLINK+="usbVideo1", GROUP="video", MODE="0666"
KERNELS=="1-1.1.3", SUBSYSTEMS=="usb", SUBSYSTEM=="video4linux",ATTRS{devpath}=="1.1.3",ATTR{index}=="0", SYMLINK+="usbVideo2", GROUP="video", MODE="0666"
KERNELS=="1-1.2",SUBSYSTEMS=="usb", SUBSYSTEM=="video4linux",ATTRS{devpath}=="1.2",ATTR{index}=="0",SYMLINK+="usbVideo3", GROUP="video", MODE="0666"

#usb video4linux devices actions
ACTION=="add", KERNELS=="1-1.1.3", SUBSYSTEMS=="usb",SUBSYSTEM=="video4linux", RUN+="/etc/init.d/motion start"
ACTION=="remove", KERNELS=="1-1.1.3", SUBSYSTEMS=="usb",SUBSYSTEM=="video4linux", RUN+="/etc/init.d/motion stop"
